.nav-tabs {
  > li > a {
    color: $brand-primary;

    user-select: none;
  }

  > .active:nth-child(3) > a {
    background: #fff;
  }

  a:hover {
    border-bottom: 0;
    color: $brand-primary-hover;
    cursor: pointer;
  }
}
